[package]
name = "nomad-core"
description = "NOMAD Protocol - Core traits and types"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
thiserror.workspace = true
